<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container d-block">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse d-none d-sm-none d-lg-block d-xl-block" id="navbarNav">
      <a class="navbar-brand" href="#">PeliculasApp</a>
      <ul class="navbar-nav mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">{{ 'navbar.peliculas' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{ 'navbar.actores' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{ 'navbar.estudios' | translate }}</a>
        </li>
      </ul>
    </div>

    <div class="offcanvas offcanvas-start d-block d-sm-block d-lg-none d-xl-none" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{ 'navbar.peliculasApp' | translate }}</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">{{ 'navbar.peliculas' | translate }} <i class="bi bi-arrow-right float-end"></i></a>
            <hr/>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">{{ 'navbar.actores' | translate }} <i class="bi bi-arrow-right float-end"></i></a>
            <hr/>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">{{ 'navbar.estudios' | translate }} <i class="bi bi-arrow-right float-end"></i></a>
            <hr/>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
