
* {
  text-decoration: none;
}
::ng-deep .card{
  border-radius: 1rem;
}

@mixin btnWithHeight {
  width: 3.357rem;
  height: 3.357rem!important;
}

.addFloatBtn{
  @include btnWithHeight();
  position: fixed;
  bottom: 20px;
  right: 90px;
}
