<div class="container-fluid mt-8">

  <app-loading *ngIf="loading"></app-loading>
  <form [formGroup]="myForm" autocomplete="off" (ngSubmit)="save()">
    <div *ngIf="!loading">
      <div class="mb-3 mt-3">
        <label class="form-label">{{ 'add.titulo' | translate }}</label>
        <input type="text" class="form-control" pInputText formControlName="title">
        <span class="form-text text-danger" *ngIf="validForm('title')">{{ 'add.min3caracteres' | translate }}</span>
      </div>
      <div class="mb-3">
        <label class="form-label">{{ 'add.poster' | translate }}</label>
        <input type="text" class="form-control" pInputText formControlName="poster">
        <span class="form-text text-danger" *ngIf="validForm('poster')">{{ 'add.min3caracteres' | translate }}</span>
      </div>
      <div class="mb-3">
        <label class="form-label">{{ 'add.generos' | translate }}</label>
        <p-multiSelect [options]="genres" optionLabel="name" display="chip" formControlName="selectedGenres"></p-multiSelect>
        <span class="form-text text-danger" *ngIf="validForm('selectedGenres')">{{ 'add.min1genero' | translate}}</span>
      </div>
      <div class="mb-3">
        <label class="form-label">{{ 'add.actores' | translate }}</label>
        <p-multiSelect [options]="actors" optionLabel="nombre_completo" display="chip" formControlName="selectedActors"></p-multiSelect>
        <span class="form-text text-danger" *ngIf="validForm('selectedActors')">{{ 'add.min1actor' | translate}}</span>
      </div>
      <div class="mb-3">
        <label class="form-label">{{ 'add.estudio' | translate }}</label>
        <p-dropdown [options]="companies" optionLabel="name" formControlName="selectedCompany"></p-dropdown>
        <span class="form-text text-danger" *ngIf="validForm('selectedCompany')">{{ 'add.min1estudio' | translate}}</span>
      </div>
      <div class="mb-3">
        <label class="form-label">{{ 'add.annio' | translate }}</label>
        <p-calendar view="year" dateFormat="yy" inputId="yearpicker" formControlName="selectedYear"></p-calendar>
        <span class="form-text text-danger" *ngIf="validForm('selectedYear')">{{ 'add.validannio' | translate}}</span>
      </div>
      <div class="mb-3">
        <label class="form-label">{{ 'add.duracion' | translate }}</label>
        <p-inputNumber [showButtons]="true" mode="decimal" formControlName="duration"></p-inputNumber>
        <span class="form-text text-danger" *ngIf="validForm('duration')">{{ 'add.validduracion' | translate }}</span>
      </div>
      <div class="mb-3">
        <label class="form-label">{{ 'add.puntuacion' | translate }}</label>
        <p-inputNumber [showButtons]="true" formControlName="rate"></p-inputNumber>
        <span class="form-text text-danger" *ngIf="validForm('rate')">{{ 'add.validpuntuacion' | translate }}</span>
        <hr>
      </div>

      <div class="mt-5 pb-5">
        <p-button type="submit" label="{{'add.guardar' | translate}}" icon="pi pi-check" iconPos="right"></p-button>
      </div>
    </div>
  </form>
  <p-toast></p-toast>
</div>
